<% content_for :title, "Editing student" %>

<h1><%= @student.student_name %>'s Record</h1>

<p>this is the form begining</p>
<%= render "form", student: @student %>
<p>this is the form end</p>


<br>

<div>
  <%= link_to "Show this student", @student %> |
  <%= link_to "Back to students", students_path %>
</div>
